@model IEnumerable<Transactioneer.Models.TransactionReport>

@{
    ViewData["Title"] = "TransactionsReport";
}

<h1>Transactions Report</h1>
<hr />

<p>
    <button class="btn btn-success" asp-action="PostTransaction">Post Transaction</button>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Transaction Id
            </th>
            <th>
                Sender Name
            </th>
            <th>
                Sender Reference
            </th>
            <th>
                Receiver Name
            </th>
            <th>
                Receiver Reference
            </th>
            <th>
                Amount
            </th>
            <th>
                Posted On
            </th>
            <th>
                Processed On
            </th>
            <th>
                Completed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
        </tr>
}
    </tbody>
</table>
